*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(233, 227, 227);
}

/*   HEADER ----------------------------------------------------------------------------*/

.mesagge-header {
    border:0.7px solid #A0A0A0;
    font-size: 10px;
    color: white;
    background-color: #76c893;
    text-align: center;
    position: fixed;
    width: 100%;
}
.mesagge-header p {
    padding-bottom: 2px;
}

.ul-header li a, .ul-header_icons li a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-out;
}
.ul-header_icons li i{
    transition: all 0.2s ease-out;
}
.ul-header a:hover, .ul-header_icons i:hover{
    transform: scale(0.8);
	color: #76c893;
    transition: all 0.1s ease-out;
    font-size: 15px;
}
.ul-header {
  list-style: none;
  display: flex;
  align-items: center;
}
.ul-header_icons {
    list-style: none;
    display: flex;
    align-items: center;        
}
.ul-header li {
    padding: 10px;
}
.ul-header_icons li {
    padding: 5px;
}
header {
    display: flex;
    border: 0.7px solid #A0A0A0;
    border-top: none;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px #A0A0A0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    background-color: white;
    top: 13px;
}
.logo{
    box-sizing: border-box;
}
.logo img {
    width: 50px;
    padding: 5px;
}
/*   CARRUSEL ----------------------------------------------------------------------------*/


/*   CATEGORIAS ----------------------------------------------------------------------------*/
.categorias{
    display: flex;  
    font-size: 25px; 
    margin: 30px;
    justify-content: space-between;
}
.cat1 img{
width: 150px;
height: 150px;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.cat1 p{
    margin-left: 35px;
}

.cat2 img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.cat2 p{
    margin-left: 25px;
}
.cat3 img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.cat3 p{
    margin-left: 35px;
}
.cat4 img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.cat4 p{
    margin-left: 35px;
}
/*   BARRA ENVIOS ----------------------------------------------------------------------------*/

.barraEnvios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #A0A0A0;
}

.camion i{
    margin-left: 60px;
    margin-top: 25px;  
}
.camion p{
    margin-bottom: 25px;
}
.tarjeta i{
    margin-left: 30px;
    margin-top: 25px;  
}
.tarjeta p{
    margin-bottom: 25px;
}

.telefono i{
    margin-left: 70px;
    margin-top: 25px;  
}
.telefono p{
    margin-bottom: 25px;
}
/*   PRODUCTOS RECOMENDADOS ----------------------------------------------------------------------------*/


div.productosRecomendados{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.cuotas{
    width: 70%;
}

.cuotas,
.descripcion{
    font-size: 16px;
    font-weight: normal;
}

h3,
.descripcion{
    color: #666;
}

.descripcion{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}



main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}


.cuotas{
    color: #39b54a;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
@media (min-width: 361px){
    .productosRecomendados{
        justify-content: space-between;
    }
    

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .precio,
    .dcuotas{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }
}
/*   FOOTER ----------------------------------------------------------------------------*/
footer{
    background-color: #A0A0A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}

.logoConNombre img{
    width: 85px;
}



.footerSociales a{
    color: #000000;
    margin: 25px;
    transition: 0.3s;
}
.footerSociales a:hover{
    text-decoration: none;
    color:#184e77;
}

.categoriasFooter a{
   text-decoration: none;
   color: #000000;

}

.categoriasFooter ul a {
 color: #000000;
 transition: 0.3s;
}
.categoriasFooter ul a:hover {
  text-decoration: none;
  color: #184e77;
}

.mensajeFooter{
    font-size: 10px;
    text-align: center;
    background-color: #000000;
}

.mensajeFooter p{
    color: white;
}