*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(233, 227, 227);
}

/*   HEADER ----------------------------------------------------------------------------*/

.mesagge-header {
    border:0.7px solid #A0A0A0;
    font-size: 10px;
    color: white;
    background-color: #76c893;
    text-align: center;
    position: fixed;
    width: 100%;
}
.mesagge-header p {
    padding-bottom: 2px;
}

.ul-header li a, .ul-header_icons li a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-out;
}
.ul-header_icons li i{
    transition: all 0.2s ease-out;
}
.ul-header a:hover, .ul-header_icons i:hover{
    transform: scale(0.8);
	color: #76c893;
    transition: all 0.1s ease-out;
    font-size: 15px;
}
.ul-header {
  list-style: none;
  display: flex;
  align-items: center;
}
.ul-header_icons {
    list-style: none;
    display: flex;
    align-items: center;        
}
.ul-header li {
    padding: 10px;
}
.ul-header_icons li {
    padding: 5px;
}
header {
    display: flex;
    border: 0.7px solid #A0A0A0;
    border-top: none;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px #A0A0A0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    background-color: white;
    top: 13px;
}
.logo{
    box-sizing: border-box;
}
.logo img {
    width: 50px;
    padding: 5px;
}

/*   CATEGORIAS ----------------------------------------------------------------------------*/
.categorias{
    display: flex;  
    font-size: 25px; 
    margin: 30px;
}
.cat1 img{
width: 150px;
height: 150px;
margin-right: 125px;
}

.cat1 p{
    margin-left: 35px;
}

.cat2 img{
    width: 150px;
    height: 150px;
    margin-right: 125px;
}
.cat2 p{
    margin-left: 25px;
}
.cat3 img{
    width: 150px;
    height: 150px;
    margin-right: 125px;
}
.cat3 p{
    margin-left: 35px;
}
.cat4 img{
    width: 150px;
    height: 150px;
    
}

.cat4 p{
    margin-left: 35px;
}
/*   BARRA ENVIOS ----------------------------------------------------------------------------*/

.barraEnvios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #A0A0A0;
}

.camion i{
    margin-left: 60px;
    margin-top: 25px;  
}
.camion p{
    margin-bottom: 25px;
}
.tarjeta i{
    margin-left: 30px;
    margin-top: 25px;  
}
.tarjeta p{
    margin-bottom: 25px;
}

.telefono i{
    margin-left: 70px;
    margin-top: 25px;  
}
.telefono p{
    margin-bottom: 25px;
}
/*   PRODUCTOS RECOMENDADOS ----------------------------------------------------------------------------*/

.productosRecomendados{
    display: flex;
}
/*   FOOTER ----------------------------------------------------------------------------*/
footer{
    background-color: #A0A0A0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.logoConNombre img{
    width: 85px;
}



.footerSociales a{
    color: #000000;
    margin: 25px;
    transition: 0.3s;
}
.footerSociales a:hover{
    text-decoration: none;
    color:#184e77;
}

.categoriasFooter a{
   text-decoration: none;
   color: #000000;

}

.categoriasFooter ul a {
 color: #000000;
 transition: 0.3s;
}
.categoriasFooter ul a:hover {
  text-decoration: none;
  color: #184e77;
}

.mensajeFooter{
    font-size: 10px;
    text-align: center;
    background-color: #000000;
}

.mensajeFooter p{
    color: white;
}