*{
    margin: 0%;
    padding: 0%;
}

/*   HEADER ----------------------------------------------------------------------------*/

.mesagge-header {
    border:0.7px solid #A0A0A0;
    font-size: 10px;
    color: white;
    background-color: #76c893;
    text-align: center;
    position: fixed;
    width: 100%;
}
.mesagge-header p {
    padding-bottom: 2px;
}

.ul-header li a, .ul-header_icons li a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-out;
}
.ul-header_icons li i{
    transition: all 0.2s ease-out;
}
.ul-header a:hover, .ul-header_icons i:hover{
    transform: scale(0.8);
	color: #76c893;
    transition: all 0.1s ease-out;
    font-size: 15px;
}
.ul-header {
  list-style: none;
  display: flex;
  align-items: center;
}
.ul-header_icons {
    list-style: none;
    display: flex;
    align-items: center;        
}
.ul-header li {
    padding: 10px;
}
.ul-header_icons li {
    padding: 5px;
}
header {
    display: flex;
    border: 0.7px solid #A0A0A0;
    border-top: none;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px #A0A0A0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    background-color: white;
    top: 13px;
}
.logo{
    box-sizing: border-box;
}
.logo img {
    width: 50px;
    padding: 5px;
}

body {
    background-color: #DADADA;
    position: relative;
}

/*   FOOTER ----------------------------------------------------------------------------*/
footer{
    background-color: #A0A0A0;
    display: flex;
     justify-content: space-around;
}

.logoConNombre {
    align-self: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
}
.logoConNombre p{
    margin-left: 15px;
}
.logoConNombre img{
    margin-left: 20px;
}

.footerSociales{  
   font-size: 18px; 
   margin: 50px;
   display: flex; 
   justify-content: right;
}

.footerSociales a{
    color: black;
       
  
}



.categoriasFooter{
    text-align: right;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 50px;
      
}

.categoriasFooter a{
    text-decoration: none;
    color: black;
   
    
}
