* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

form.log {
  display: block;
  width: 60%;
  border: solid 1px #000000;
  margin: 10px auto;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

body h3 {
  margin: 10px 0px 15px 15px;
}

form .casilla {
  margin: 0px 0px 10px 20px;
}

.nombre-email,
.contraseña {
  color: #a0a0a0;
  background-color: #f0f0f0;
  width: 65%;
  padding: 4px;
  border: 0px;
  border-bottom: 1px solid #184e77;
}

form .buttons {
  display: flex;
  margin: 20px 0px 10px
}

form .buttons .iniciar-sesion {
  background-color: #184e77;
  color: #f0f0f0;
  width: 50%;
  margin: auto;
  max-width: 115px;
  padding: 3px;
  border: 0px;
  border-radius: 4px;
}


/*NEWSLETTER (DESPUES HAY QUE SEPARARLO A OTRO CSS)*/

body .newsletter {
  display: flex;
  margin: 15px 0px 30px;
  background-color: #76c893;
  border: solid 1px #a0a0a0;
  justify-content: space-between;
  align-items: center;
}


body .newsletter .texto{
  display: flex;
  flex-direction: column;
  margin: 8px 0px 8px 8px;
}

body .texto h4, p {
  font-size: 0.8em;
}

body .newsletter .datos {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.newsletter-nombre, .newsletter-email {
  margin: 8px 10%;
  padding: 3px;
}

.enviar {
  padding: 5px 8px;
  background-color: #000000;
  color: #f0f0f0;
  border: 0px;
}

@media (min-width: 769px) {
  
  body .newsletter .texto{
    display: flex;
    flex-direction: column;
    margin: 8px 0px 8px 8px;
  }
  
  body .texto h4, p {
    font-size: 1em;
  }
  
  body .newsletter .datos {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
  }
  
  .newsletter-nombre, .newsletter-email {
    margin: 0px;
    width: 45%;
  }
  
  .enviar {
    padding: 5px 8px;
    background-color: #000000;
    color: #f0f0f0;
    border: 0px;
  }
}