* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

form.log {
  display: block;
  width: 60%;
  border: solid 1px #000000;
  margin: 10px auto;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

body h3 {
  margin: 10px 0px 15px 15px;
}

form .casilla {
  margin: 0px 0px 10px 20px;
}

.nombre-email,
.contraseña {
  color: #a0a0a0;
  background-color: #f0f0f0;
  width: 65%;
  padding: 4px;
  border: 0px;
  border-bottom: 1px solid #184e77;
}

form .texto {
  text-align: center;
  font-size: 0.9em;
  margin: 20px auto;
}

form .buttons {
  display: flex;
  margin: 20px 0px 10px;
}

form .buttons .boton {
  font-size: 14px;
  background-color: #184e77;
  color: #f0f0f0;
  width: 50%;
  margin: auto;
  max-width: 115px;
  padding: 3px;
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms;
}

form .boton:hover {
  background-color: #276da3;
}
