* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  margin-top: 90px;
  background-color: #f0f0f0;
}

form.log {
  display: block;
  width: 60%;
  border: solid 1px #000000;
  margin: 50px auto;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

body h3 {
  margin: 10px 0px 25px 15px;
}

form .casilla {
  margin: 0px 0px 25px 20px;
}

.nombre-email,
.contraseña {
  color: #a0a0a0;
  background-color: #f0f0f0;
  width: 65%;
  padding: 4px;
  border: 0px;
  border-bottom: 1px solid #184e77;
  font-size: 0.7em;
}

form .redirigir {
  text-align: center;
  font-size: 0.75em;
  margin: 20px auto;
}

form .redirigir span a:visited {
  color: #76c893;
}

form .buttons {
  display: flex;
  margin: 20px 0px 10px;
}

form .buttons .boton {
  font-size: 14px;
  background-color: #184e77;
  color: #f0f0f0;
  width: 50%;
  margin: auto;
  max-width: 115px;
  padding: 3px;
  border: 0px;
  border-radius: 4px;
  transition: background-color 250ms;
}

form .boton:hover {
  background-color: #276da3;
}

/*   FOOTER ----------------------------------------------------------------------------*/
footer{
  background-color: #A0A0A0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
}

.logoConNombre img{
  width: 85px;
}

.footerSociales a{
  color: #000000;
  margin: 25px;
  transition: 0.3s;
}
.footerSociales a:hover{
  text-decoration: none;
  color:#184e77;
}

.categoriasFooter a{
 text-decoration: none;
 color: #000000;

}

.categoriasFooter ul a {
color: #000000;
transition: 0.3s;
}
.categoriasFooter ul a:hover {
text-decoration: none;
color: #184e77;
}

.mensajeFooter{
  font-size: 10px;
  text-align: center;
  background-color: #000000;
}

.mensajeFooter p{
  color: white;
}


@media (min-width: 769px) {
  form .redirigir {
    font-size: 0.9em;
  }

  body h3 {
    font-size: 1.6em;
    margin: 10px 0px 35px 15px;
  }
  
  form .casilla {
    margin: 0px 0px 40px 20px;
  }

  .nombre-email,
.contraseña {
  font-size: 1em;
}

  form .buttons .boton {
    font-size: 17px;
  }
}