div.catBoxContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 400px auto;
}

div.titulos {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 100px;
  text-align: center;
}

h1.catTitulo {
  font-size: 4rem;
}
