<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
 <!-- -------------------------------------MAIN-------------------------------------------------------- -->


 <main>
  
    <section class="newsletter">
      <div class="texto">
        <h4>BESAME EL TRASERO.</h4>
    
        <p>Recibí nuestras novedades y promociones</p>
      </div>
    
      <div class="datos">
        <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
        <input type="email" placeholder="E-MAIL" class="newsletter-email" />
      </div>
        
      <button type="submit" class="enviar">ENVIAR</button>
    </section>
     </main>
    
    <!-- -------------------------------------FOOTER-------------------------------------------------------- -->
    <%- include('./partials/footer') %>
    
    
      <script type="text/javascript" src="/css\productDetail.js"></script>
        
      <script type="text/javascript" src="/css/header.js"></script>
    </body>
    </html>