<!-- -------------------------------------HEAD & TAGS-------------------------------------------------------- -->
<%- include('./partials/head') %>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

<%- include('./partials/header') %>
  <!-- -------------------------------------MAIN-------------------------------------------------------- -->


<main>
<!--Banner, aca tiene que ir una galeria-->
 <section class="banner">
    <img src="/images/banner1.jpeg" alt="" >
  </section> 
    <!-- Aca van las 4 categorias del inicio-->

 <section class="categorias">
    <div class="cat1">
       <a href="/productos/categorias/Buzos"><img class="img1" src="/images/buzonegrosnow.jpeg" ></a>
        <a href="/productos/categorias/Buzos"><div class="p1"><p>Buzos</p></div></a>
    </div>

    <div class="cat2">
      <a href="/productos/categorias/Remeras"><img class="img2" src="/images/remerablanca.jpeg"></a>
      <a href="/productos/categorias/Remeras"><div class="p1"><p>Remeras</p></div></a>
    </div> 
    
    <div class="cat3">
      <a href="/productos/categorias/Mallas"><img class="img3" src="/images/mallalineas.jpeg"></a>
      <a href="/productos/categorias/Mallas"><div class="p1"><p>Mallas</p></div></a>
    </div>
    
    <div class="cat4">
      <a href="/productos/categorias/Gorras"><img class="img4" src="/images/gorra.jpg"></a>
        <a href="/productos/categorias/Gorras"><div class="p1"><p>Gorras</p></div></a>
    </div>
  </section>

<!-- Aca va la barra de envios, contacto y cuotas-->
<section class="barraEnvios">
  <div class="camion">
    <i class="fas fa-truck"></i>
    <p>Envios a todo el pais</p>
  </div>

  <div class="tarjeta">
    <i class="fas fa-credit-card"></i>
    <p>3 y 6 cuotas</p>
  </div>

  <div class="telefono">
    <i class="fas fa-phone"></i>
    <p>Comunicate con nosotros</p>
  </div>

</section>

<section class="productosRecomendados">
  <h3>Basado en tu última visita</h3>
  <div class="productos">
      <article>
          <img src="/images/buzonegrosnow.jpeg" alt="Cafetera" class="product_img">
          <div class="main-article">
              <p class="precio">$5.700</p>
              <p class="cuotas">Paga en 3 y 6 cuotas</p>
              <h4 class="descrpcion">Buzo Negro Snow</h4>
          </div>
      </article>
      <article>
        <img src="/images/buzorojo.jpeg" alt="Cafetera" class="product_img">
        <div class="main-article">
            <p class="precio">$5.700</p>
            <p class="cuotas">Paga en 3 y 6 cuotas</p>
            <h4 class="descrpcion">Buzo Rojo Snow</h4>
        </div>
    </article>
    <article>
      <img src="/images/mallafloreada.jpeg" alt="Cafetera" class="product_img">
      <div class="main-article">
          <p class="precio">$2.800</p>
          <p class="cuotas">Paga en 3 y 6 cuotas</p>
          <h4 class="descrpcion">Malla Floreada</h4>
      </div>
  </article>
  <article>
    <img src="/images/remerablanca.jpeg" alt="Cafetera" class="product_img">
    <div class="main-article">
        <p class="precio">$2.000</p>
        <p class="cuotas">Paga 3 y 6 cuotas</p>
        <h4 class="descrpcion">Remera Blanca</h4>
    </div>
</article>
  </div>
</section>
<section class="newsletter">
  <div class="texto">
    <h4>SUSCRIBITE AL NEWSLETTER</h4>

    <p>Recibí nuestras novedades y promociones</p>
  </div>

  <div class="datos">
    <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
    <input type="email" placeholder="E-MAIL" class="newsletter-email" />
  </div>
    
  <button type="submit" class="enviar">ENVIAR</button>
</section>
 </main>

<!-- -------------------------------------FOOTER-------------------------------------------------------- -->
<%- include('./partials/footer') %>


  <script type="text/javascript" src="/css\productDetail.js"></script>
    
  <script type="text/javascript" src="/css/header.js"></script>
</body>
</html>