<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BULLCRIE</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />
     <link rel="stylesheet" href="/css/styles-newsletter.css" />
     <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap%22%3E" />

</head>
<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

  <div class="mesagge-header"><p>Winter SALE 50% OFF con cualquier método de pago</p></div>
  <header>
      <div id="ul-responsive">
        <a href="/index">INICIO</a>
        <a href="#tienda">TIENDA</a>
        <a href="#contacto">CONTACTO</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="toggleBurger()">
          <i class="fas fa-bars"></i>
      </a>

      <div class="logo"><a href="/index"><img src="images\bullcrie logo.png"></a></div> 
      <ul class="ul-header">
          <li><a href="#inicio">INICIO</a></li>
          <li><a href="#tienda">TIENDA</a></li>
          <li><a href="#contacto">CONTACTO</a></li>
      </ul>

      <ul class="ul-header_icons">
          <li><a href="#search"><i class="fas fa-search"></i></a></li>
          <li><a href="/register"><i class="far fa-user"></i></a></li>
          <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
  </header>
  
      

 

<main>
<!--Banner, aca tiene que ir una galeria-->
 <section class="banner">
    <img src="/images/banner1.jpeg" alt="" >
  </section> 
    <!-- Aca van las 4 categorias del inicio-->

 <section class="categorias">
    <div class="cat1">
        <img class="img1" src="/images/buzonegrosnow.jpeg" >
        <div class="p1"><p>Buzos</p></div>
    </div>

    <div class="cat2">
        <img class="img2" src="/images/remerablanca.jpeg">
        <div class="p1"><p>Remeras</p></div>
    </div> 
    
    <div class="cat3">
    <img class="img3" src="/images/mallalineas.jpeg">
    <div class="p1"><p>Mallas</p></div>
    </div>
    
    <div class="cat4">
    <img class="img4" src="/images/gorra.jpg">
    <div class="p1"><p>Gorras</p></div>
    </div>
  </section>

<!-- Aca va la barra de envios, contacto y cuotas-->
<section class="barraEnvios">
  <div class="camion">
    <i class="fas fa-truck"></i>
    <p>Envios a todo el pais</p>
  </div>

  <div class="tarjeta">
    <i class="fas fa-credit-card"></i>
    <p>3 y 6 cuotas</p>
  </div>

  <div class="telefono">
    <i class="fas fa-phone"></i>
    <p>Comunicate con nosotros</p>
  </div>

</section>

<section class="productosRecomendados">
  <h3>Basado en tu última visita</h3>
  <div class="productos">
      <article>
          <img src="/images/buzonegrosnow.jpeg" alt="Cafetera" class="product_img">
          <div class="main-article">
              <p class="precio">$5.700</p>
              <p class="cuotas">Paga en 3 y 6 cuotas</p>
              <h4 class="descrpcion">Buzo Negro Snow</h4>
          </div>
      </article>
      <article>
        <img src="/images/buzorojo.jpeg" alt="Cafetera" class="product_img">
        <div class="main-article">
            <p class="precio">$5.700</p>
            <p class="cuotas">Paga en 3 y 6 cuotas</p>
            <h4 class="descrpcion">Buzo Rojo Snow</h4>
        </div>
    </article>
    <article>
      <img src="/images/mallafloreada.jpeg" alt="Cafetera" class="product_img">
      <div class="main-article">
          <p class="precio">$2.800</p>
          <p class="cuotas">Paga en 3 y 6 cuotas</p>
          <h4 class="descrpcion">Malla Floreada</h4>
      </div>
  </article>
  <article>
    <img src="/images/remerablanca.jpeg" alt="Cafetera" class="product_img">
    <div class="main-article">
        <p class="precio">$2.000</p>
        <p class="cuotas">Paga 3 y 6 cuotas</p>
        <h4 class="descrpcion">Remera Blanca</h4>
    </div>
</article>
  </div>
</section>
<section class="newsletter">
  <div class="texto">
    <h4>SUSCRIBITE AL NEWSLETTER</h4>

    <p>Recibí nuestras novedades y promociones</p>
  </div>

  <div class="datos">
    <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
    <input type="email" placeholder="E-MAIL" class="newsletter-email" />
  </div>
    
  <button type="submit" class="enviar">ENVIAR</button>
</section>
 </main>
<footer>
    <div class="logoConNombre">
    <img src="/images/bullcrie logo_adobespark.png" alt="" width="10%" height="5%">
    <p>BULLCRIE.</p>
    </div>

<div class="footerSociales"> 
   
    <a href="#"><i class="fas fa-phone"></i></a>
    <a href="#"><i class="fab fa-whatsapp"> </i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  
</div>

<div class="categoriasFooter">
    <ul>
        <li><a href="#">Remeras</a></li>
        <li><a href="#">Mallas</a></li>
        <li><a href="#">Buzos</a></li>
        <li><a href="#">Remeras</a></li>
    </ul>
</div>


</footer>
<div class="mensajeFooter">
  <p>© Copyright BULLCRIE. All Rights Reserved</p>
  </div>
  <script type="text/javascript" src="css\productDetail.js"></script>
    
  <script type="text/javascript" src="css\header.js"></script>
 </body>
</html>