<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles-newsletter.css" />
    <title>BullCrie</title>
</head>

<body class="wrapper">
  <!-- -------------------------------------HEADER-------------------------------------------------------- -->

  <div class="mesagge-header"><p>Winter SALE 50% OFF con cualquier método de pago</p></div>
  <header>
      <div id="ul-responsive">
        <a href="#inicio">INICIO</a>
        <a href="#tienda">TIENDA</a>
        <a href="#contacto">CONTACTO</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="toggleBurger()">
          <i class="fas fa-bars"></i>
      </a>

      <div class="logo"><a href="#home"><img src="images\bullcrie logo.png"></a></div> 
      <ul class="ul-header">
          <li><a href="#inicio">INICIO</a></li>
          <li><a href="#tienda">TIENDA</a></li>
          <li><a href="#contacto">CONTACTO</a></li>
      </ul>

      <ul class="ul-header_icons">
          <li><a href="#search"><i class="fas fa-search"></i></a></li>
          <li><a href="#user"><i class="far fa-user"></i></a></li>
          <li><a href="#cart"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
  </header>

  <!-- -------------------------------------MAIN-------------------------------------------------------- -->
    <main id="gallery">
        
        <div class="images">
        <img src="images\mallafloreada.jpeg" class="img">
        <img src="images\mallalineas.jpeg" class="img">
        <img src="images\mallarombos.jpeg" class="img">
            </div>

            <div class="main-img">
                <img src="images\mallafloreada.jpeg" id="current">    
                </div>

        <div class="product-details">
            <h3>MALLA BULLCRIE DE HOMBRE</h3>
            <h2>$2.590</h2>
            <p class="cuotas">6x Cuotas de $431 sin interés</p>
            <p class="mediosPago">Ver los medios de pago</p>
            <p class="enviosGratis"><i class="fas fa-truck"></i></i>Envios gratis a todo el país</p>
            <p class="formasEnvio">Conocé los tiempos y formas de envio</p>
            
            <p class="talles">Talles:</p>
            <ul class="ul_checkbox-talles">
                    <li class="li_checkbox-talles">
                    <input type="checkbox" id="check_1" name="check_1" value="check_1">
                    <label for="check_1">S</label>
                  </li>
                  <li class="li_checkbox-talles">
                    <input type="checkbox" id="check_2" name="check_2" value="check_2">
                    <label for="check_2">M</label>
                  </li>
                  <li class="li_checkbox-talles">
                    <input type="checkbox" id="check_3" name="check_3" value="check_3">
                    <label for="check_3">L</label>
                  </li>
                  <li class="li_checkbox-talles">
                    <input type="checkbox" id="check_4" name="check_4" value="check_4">
                    <label for="check_4">XL</label>
                  </li>
            </ul>
            <p class="color">Color: Floreado</p>
            <p class="stock">Stock Disponible</p>
            <button class="comprar" type="button">Comprar Ahora</button>
            <button class="carrito" type="button">Agregar al carrito</button>
        </div>
     </main>
     <section class="newsletter">
        <div class="texto">
          <h4>SUSCRIBITE AL NEWSLETTER</h4>
  
          <p>Recibí nuestras novedades y promociones</p>
        </div>
  
        <div class="datos">
          <input type="text" placeholder="NOMBRE" class="newsletter-nombre" />
          <input type="email" placeholder="E-MAIL" class="newsletter-email" />
        </div>
          
        <button type="submit" class="enviar">ENVIAR</button>
      </section>


    
      <footer>
        <div class="logoConNombre">
        <img src="/images/bullcrie logo_adobespark.png" alt="" width="10%" height="5%">
        <p>BULLCRIE.</p>
        </div>
    
    <div class="footerSociales"> 
       
        <a href="#"><i class="fas fa-phone"></i></a>
        <a href="#"><i class="fab fa-whatsapp"> </i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      
    </div>
    
    <div class="categoriasFooter">
        <ul>
            <li><a href="#">Remeras</a></li>
            <li><a href="#">Mallas</a></li>
            <li><a href="#">Buzos</a></li>
            <li><a href="#">Remeras</a></li>
        </ul>
    </div>
    
    
    </footer>
    <div class="mensajeFooter">
      <p>© Copyright BULLCRIE. All Rights Reserved</p>
      </div>

    <script type="text/javascript" src="css\productDetail.js"></script>
    
    <script type="text/javascript" src="css\header.js"></script>

  </body>
</html>
