<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productDetail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>BullCrie</title>
</head>
<body>
    <div class="mesagge-header"><p>Winter SALE 50% OFF con cualquier método de pago</p></div>
    <header>
        <div class="logo"><a href="#home"><img src="logo.png"></a></div> 
        <ul class="ul-header">
            <li><a href="#inicio">INICIO</a></li>
            <li><a href="#tienda">TIENDA</a></li>
            <li><a href="#contacto">CONTACTO</a></li>
        </ul>
        <ul class="ul-header_icons">
            <li><a href="#search"><i class="fas fa-search"></i></a></li>
            <li><a href="#user"><i class="far fa-user"></i></a></li>
            <li><a href="#cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </header>
</body>
</html>
