<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-cart.css">
    <title>Bullcrie</title>
</head>
<body>
    <div class="cart-container">
        <h2>Tu carrito (1)</h2>
        <div class="cart">
          <article class="cart-products">
            <div class="image-cart">
              <img src="images/buzogris.jpeg" alt="Buzo Gris">
            </div>
            <div class="product-info-cart">
              <h3 class="product-name-cart">Buzo Gris</h3>
              <p class="product-price-cart">$7830</p>
              <p class="product-quantity-cart">Cant: <input type="number" name="product-quantity" value="1"></p>
              <div class="remove-buy">
                <a href="#">Eliminar</a>
                <a href="#">Comprar ahora</a>
              </div>
            </div>
          </article>
          <article class="cart-products">
            <div class="image-cart">
              <img src="images/gorra.jpg" alt="Gorra">
            </div>
            <div class="product-info-cart">
              <h3 class="product-name-cart">Gorra</h3>
              <p class="product-price-cart">$2000</p>
              <p class="product-quantity-cart">Cant: <input type="number" name="product-quantity" value="1"></p>
              <div class="remove-buy">
                <a href="#">Eliminar</a>
                <a href="#">Comprar ahora</a>
              </div>
            </div>
          </article>
        </div>
      </div>
</body>
</html>