<footer>
  <div class="logoConNombre">
  <img src="/images/bullcrie logo_adobespark.png" alt="" width="10%" height="5%">
  <p class="bullcrie-logo">BullCrie</p>
  </div>

  <div class="footerSociales"> 

    <a href="#"><i class="fas fa-phone"></i></a>
    <a href="#"><i class="fab fa-whatsapp"> </i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>

  </div>

  <div class="categoriasFooter">
    <ul>
        <li><a href="/productos/categorias/Remeras">Remeras</a></li>
        <li><a href="/productos/categorias/Mallas">Mallas</a></li>
        <li><a href="/productos/categorias/Buzos">Buzos</a></li>
        <li><a href="/productos/categorias/Gorras">Gorras</a></li>
    </ul>
  </div>


</footer>
<div class="mensajeFooter">
<p>© Copyright BULLCRIE. All Rights Reserved</p>
</div>