<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/header1.css">
    <link rel="stylesheet" href="/css/index1.css">
    <link rel="stylesheet" href="/css/styles-cart.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles-newsletter.css">
    <link rel="stylesheet" href="/css/styles-newsletter.css" />
    <link rel="stylesheet" href="/css/styles-productCreate.css" />
    <link rel="stylesheet" href="/css/styles-shop.css" />
    <link rel="stylesheet" href="/css/categorias.css" />
    <link rel="stylesheet" href="/css/styles-usersDetail.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap%22%3E%22%3E">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <title>BULLCRIE</title>
    <link rel="icon" href="/images/favicon5.png">
</head>

