<div class="mesagge-header"><p>Winter SALE 50% OFF con cualquier método de pago</p></div>
 <header>
     <div id="ul-responsive">
       <a href="/">INICIO</a>
       <a href="#tienda">TIENDA</a>
       <a href="#contacto">CONTACTO</a>
     </div>
     <a href="javascript:void(0);" class="icon" onclick="toggleBurger()">
         <i class="fas fa-bars"></i>
     </a>

     <div class="logo"><a href="/"><img src="/images\bullcrie logo.png"></a></div> 
     <ul class="ul-header">
         <li><a href="/">INICIO</a></li>
         <li><a href="/productos">TIENDA</a></li>
         <li><a href="#contacto">CONTACTO</a></li>
     </ul>

     <ul class="ul-header_icons"> 
            <li><a href="#search"><i class="fas fa-search"></i></a></li>        
            <li>
                <a href="<%= locals.estaLogueado ? '' : '/usuarios/login' %>"><i class="far fa-user"></i><%= locals.estaLogueado ? ' ' + locals.usuarioLogin.name : ' Hola usuario' %></a></li>
            <li><a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a></li>        
     </ul>
 </header>
