<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BULLCRIE</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" />

</head>

<body>
 <header>
    <header>
        <div class="logo"><img src=""></div> 
        <ul class="ul-header">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <ul class="ul-header_icons">
            <li><a href="#search"><i class="fas fa-search"></i></a></li>
            <li><a href="#user"><i class="far fa-user"></i></a></li>
            <li><a href="#cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </header>
<!--Banner, aca tiene que ir una galeria-->
  <section class="banner">
    <img src="/images/banner-bc.png" alt="" width="100%">
  </section>

<main>

    <!-- Aca van las 4 categorias del inicio-->

 <section class="categorias">
    <article>
        <img src="/images/buzonegrosnow.jpeg" alt="" height="20%" width="20%" >
        <p>Buzos</p>
    </article>

    <article>
        <ages src="/images/remerablanca.jpeg" alt="" height="20%" width="20%" >
        <p>Remeras</p>
    </article> 
    
    <article>
    <img src="/images/mallalineas.jpeg" alt="" height="20%" width="20%">
    <p>Mallas</p>
    </article>
    
    <article>
    <img src="/images/gorra.jpg" alt="" height="20%" width="20%">
    <p>Gorras</p>
    </article>
</section>

<!-- Aca va la barra de envios, contacto y cuotas-->
<section class="barraEnvios">
    <i class="fas fa-truck"></i>
    <p>Envios a todo el pais</p>

    <i class="fas fa-credit-card"></i>
    <p>3 y 6 cuotas</p>

    <i class="fas fa-phone"></i>
    <p>Comunicate con nosotros</p>
</section>

<!--Aca van los productos recomendados-->
 <section class="productosRecomendados">
     <h3>Productos Recomendados</h3>
     <article>
        <img src="/images/mallafloreada.jpeg"    alt="" height="15%" width="15%">
        <div class="prductos">
          <i class="fas fa-truck"></i>
        <p class="precio">$3.500</p>
        <p class="infodeproducto">Paga en 3 y 6 cuotas sin interes</p>
        <h4 class="producto">Malla Floreada</h4>
      </div>
      </article>

      <article>
        <img src="/images/buzonegro.jpeg"    alt="" height="15%" width="15%">
        <div class="prductos">
          <i class="fas fa-truck"></i>
        <p class="precio">$5.500</p>
        <p class="infodeproducto">Paga en 3 y 6 cuotas sin interes</p>
        <h4 class="producto">Buzo negro</h4>
      </div>
      </article>

      <article>
        <img src="/images/remerablanca.jpeg"    alt="" height="15%" width="15%">
        <div class="prductos">
          <i class="fas fa-truck"></i>
        <p class="precio">$2.900</p>
        <p class="infodeproducto">Paga en 3 y 6 cuotas sin interes</p>
        <h4 class="producto">Remera Blanca</h4>
      </div>
      </article>

  <article>
   <img src="/images/buzorojo.jpeg"    alt="" height="15%" width="15%">
     <div class="prductos">
          <i class="fas fa-truck"></i>
          <p class="precio">$5.500</p>
          <p class="infodeproducto">Paga en 3 y 6 cuotas sin interes</p>
          <h4 class="producto">Buzo Bordo</h4>
    </div>
  </article>
 </section>

 </main>
<footer>
    <article class="logoConNombre">
    <img src="/images/bullcrie logo_adobespark.png" alt="">
    <p>BULLCRIE.</p>
    </article>

<article class="iconosRedes"> 
    <i class="fas fa-phone"></i>
    <i class="fab fa-whatsapp"></i>
    <i class="fab fa-instagram"></i>
</article>

<article class="categoriasFooter">
    <ul class="ul-footer">
        <li><a href="#">Remeras</a></li>
        <li><a href="#">Mallas</a></li>
        <li><a href="#">Buzos</a></li>
        <li><a href="#">Remeras</a></li>
    </ul>
</article>

</footer>
    
 </body>
</html>